<!--Items on review and wishlist-->
<div class="col-md-12">
  <h5>My Stats</h5>
  <div class="panel panel-default">
    <div class="panel-body text-center">
      <div class="col-md-4">
        <h5>Discounts</h5>
        <h3><span class="badge">2</span>&nbsp; Requests</h3>
        <hr>
        <h3><span class="badge">0</span>&nbsp; Available</h3>
      </div>
      <div class="col-md-4">
        <h5>Reviews</h5>
        <h3><span class="badge">10</span>&nbsp; Confirmed Reviews</h3>
      </div>
      <div class="col-md-4">
        <h5>Tier</h5>
        <img src="http://placehold.it/100x100" alt="..." class="img-circle" >
      </div>
    </div>
  </div>
</div>

<!--Connect social-->
<div class="col-md-6">
  <h5>Social Network</h5>
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-stacked text-center">
        <li class="amazon"><a href="#" class="btn btn-warning"><i class="fa fa-amazon fa-lg"></i>&nbsp; Connect your Amazon account</a></li>
        <li class="facebook"><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li><%= link_to "Cancel", cancel_user_registration_path %>
        <li class="twitter"><a href="#" class="btn btn-info"><i class="fa fa-twitter fa-lg"></i>&nbsp; Link Twitter</a></li>
      </ul>
    </div>
  </div>
</div>
