<style type="text/css">
  .amazon > a:hover, .amazon > a:focus {
    text-decoration: none;
    background-color: #eea236 !important;
  }


  .facebook > a:hover, .facebook > a:focus {
    text-decoration: none;
    background-color: #357ebd !important;
  }
  .twitter > a:hover, .twitter > a:focus {
    text-decoration: none;
    background-color: #269abc !important;
  }
</style>
<div class="container" ng-controller = "ProfileController">
  <h2>Account</h2>
  <hr>
  <div class="row">
    <%= render "users/profile" %>
  </div>
</div>
