<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav pull-right">
    <li>
      <a href="<%= offers_path %>">Deals</a>
    </li>
    <li>
        <a href="#">About</a>
    </li>
    <li>
    <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <% unless current_user.present? %>
      <li>
        <a class="sign-in fancybox.ajax" href="<%= new_user_session_path %>">Sign in</a>
      </li>
    <% else %>
      <li>
        <a href="<%= user_path(current_user) %>"><%= current_user.email %></a>
      </li>
    <% end %>
  </ul>
</div>
